<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mini Glitch</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/lib/codemirror.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/theme/monokai.css"
    />
<!--     // https://codemirror.net/addon/lint/lint.css -->
    <link
      rel="stylesheet"
      href="https://codemirror.net/addon/lint/lint.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/lib/codemirror.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.52.2/mode/javascript/javascript.js"></script>
    <script src="https://codemirror.net/mode/javascript/javascript.js"></script>
    <script src="https://codemirror.net/mode/css/css.js"></script>
    <script src="https://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://codemirror.net/mode/xml/xml.js"></script>
    <script src="https://codemirror.net/addon/lint/lint.js"></script>
    <script src="https://codemirror.net/addon/lint/javascript-lint.js"></script>
    <script src="https://codemirror.net/addon/lint/json-lint.js"></script>
    <script src="https://codemirror.net/addon/lint/html-lint.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jshint/r07/jshint.js"></script>
    <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
    <script src="/csslint.js"></script>
    <script src="https://codemirror.net/addon/edit/closetag.js"></script>
    <script src="https://codemirror.net/addon/edit/matchbrackets.js"></script>
    <script src="https://codemirror.net/addon/selection/active-line.js"></script>
    <script src="https://codemirror.net/addon/fold/foldcode.js"></script>
    <script src="https://codemirror.net/addon/fold/foldgutter.js"></script>
    <script src="https://codemirror.net/addon/fold/brace-fold.js"></script>
    <script src="https://codemirror.net/addon/fold/xml-fold.js"></script>
    <script src="https://htmlhint.com/js/htmlhint.js"></script>
    <script src="https://codemirror.net/addon/fold/comment-fold.js"></script>
    <script src="/script.js"></script>
  </head>
  <body>
    <p>
      <i>PROJECT NAME</i>
    </p>
    <input type="text" id="project-name" />
    <br /><br />
    <textarea id="editor" oninput="save();"></textarea>
    <button id="deploy" onclick="deploy();">
      Deploy!
    </button>
    <script>
      document.CodeMirror = CodeMirror;
      var editor = createEditor(document.getElementById("editor"), {
        mode: "text/html",
        lint: true,
        theme: "monokai"
      });
      function deploy() {
        let code = editor.getValue();
        let name = document.getElementById("project-name").value;
        let content = { code: code, name: name };

        fetch("/deploy", {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(content)
        })
          .then(response => response.json())
          .then(data => {
            console.log(":)");
          });
      }
    </script>
  </body>
</html>
