<html>
  <head>
    <title>GlitchyPastePen</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta
      name="description"
      content="Glitch + Pastebin + Codepen = glitchypastepen"
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="https://cdn.khaleelgibran.com/img/glitchypastepen.png"
          height="100px"
      /></a>
    </header>
    <div id="intro">
      <h1 class="main">
        Glitch + Pastebin + CodePen = <code>GlitchyPastePen</code>.
      </h1>
      <p class="desc">
        A web project I created aimed at creating simple websites using HTML,
        CSS and JS along with instant hosting, just like CodePen.
      </p>
    </div>
    <br /><br />
    <center id="login">
      <h1>
        Login
      </h1>
      <p class="sigunp-link">or <a href="/signup">signup</a></p>
      <input
        type="text"
        placeholder="Username"
        class="username"
        required
      /><br />
      <input
        type="text"
        placeholder="Password"
        class="password"
        required
      /><br />
      <button class="submit" onclick="login();">
        Login
      </button>
    </center>

    <!-- lot of line breaks -->
    <br /><br /><br /><br /><br /><br /><br />

    <div class="navbar">
      <a class="active" href="/"><i class="fas fa-fish"></i> Glitch</a>
      <a href="https://github.com/khalby786/GlitchyPastePen"
        ><i class="fab fa-github"></i> Github</a
      >
      <a href="/"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="https://glitchypastepen.glitch.me/signup"
        ><i class="fa fa-fw fa-user"></i> Signup</a
      >
      <a href="https://glitchypastepen.glitch.me/status"
        ><i class="fas fa-thermometer-quarter"></i>Status</a
      >
    </div>
    <script src="/login.js"></script>
  </body>
</html>
