<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <a href="/"><img src="https://cdn.khaleelgibran.com/img/glitchypastepen.png" height="100px"></a>
    </header>
    <center>
      <h1>
        Login
      </h1>
      <p class="sigunp-link">or <a href = "/signup">signup</a></p>
      <input type = "text" placeholder = "Username" class = "username" required><br />
      <input type = "text" placeholder = "Password" class = "password" required><br />
      <button class = "submit" onclick = "login();">
        Login
      </button>
    </center>
    <script src = "/login.js"></script>
    <p></p>
    <div class="footer">
      testing
    </div>
  </body>
</html>