<html>
  <head>
    <title>Login or Signup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <center>
      <h1>
        Login
      </h1>
      <p>or <a href = "/signup">signup</a></p>
      <input type = "text" placeholder = "Username" class = "username" required><br />
      <input type = "text" placeholder = "Password" class = "password" required><br />
      <button class = "submit" onclick = "login();">
        Login
      </button>
    </center>
    <script src = "/login.js"></script>
  </body>
</html>