<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mini Glitch</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/monokai.min.css"
    />
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js"></script>
    <!--     <script>hljs.initHighlightingOnLoad();</script> -->
    <script src="/script.js"></script>
    <style>
      body {
        background-color: #1f2430;
      }
    </style>
  </head>
  <body>
    <p class="p-title">
      <i>PROJECT NAME</i>
    </p>
    <p type="text" id="project-name"></p>
    <br /><br />
    <pre>
      <code id="code-preview" class = "lanuguage-html"></code>
    </pre>
    <script>
      // document.CodeMirror = CodeMirror;
      // var editor = createEditor(document.getElementById("editor"), {
      //   mode: "text/html",
      //   lint: true,
      //   theme: "monokai"
      // });

      document.addEventListener("DOMContentLoaded", event => {
        document.querySelectorAll("pre code").forEach(block => {
          hljs.highlightBlock(block);
        });
      });

      let projecturl = window.location.href;
      let projectname = projecturl.slice(40);
      document.getElementById("project-name").innerText = projectname;

      let name = document.getElementById("project-name").innerText;
      let path = "/getCode/" + name;
      fetch(path)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          document.getElementById("code-preview").innerText = data.code;
        });

      function deploy() {
        let code = editor.getValue();
        let name = document.getElementById("project-name").innerText;
        let content = { code: code, name: name };

        fetch("/deploy", {
          method: "post",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(content)
        })
          .then(response => response.json())
          .then(data => {
            console.log(":)");
          });
      }
    </script>
  </body>
</html>
