<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mini Glitch</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--     <script>hljs.initHighlightingOnLoad();</script> -->
    <script src="/script.js"></script>
    <style>
      body {
        background-color: #272822;
      }
      
      #editor { 
        position: absolute;
        top: 200px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    </style>
  </head>
  <body>
    <p class="p-title">
      <i>PROJECT NAME</i>
    </p>
    <p type="text" id="project-name"></p>
    <br />
    <button id="html" onclick="editor.setSession(html);" style="margin-left:20px;">
        index.html
      </button>
      <button id="js" onclick="editor.setSession(js);">
        script.js
      </button>
      <button is="css" onclick="editor.setSession(css);">
        style.css
      </button>
    <br /><br />
    <div id="editor">
      
    </div>
    <script>
      // document.CodeMirror = CodeMirror;
      // var editor = createEditor(document.getElementById("editor"), {
      //   mode: "text/html",
      //   lint: true,
      //   theme: "monokai"
      // });
      
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/html");
      
      editor.setOptions({
        fontSize: "1.5vw"
      });
      
      var EditSession = require("ace/edit_session").EditSession;

      var html = new EditSession("<html></html>", "ace/mode/html");
      var js = new EditSession("console.log('//hi')", "ace/mode/javascript");
      var css = new EditSession("body { color: red; }", "ace/mode/css");
      // and then to load document into editor, just call
      editor.setSession(html);
      
      editor.setReadOnly(true);

  
      let projecturl = window.location.href;
      let projectname = projecturl.slice(41);
      document.getElementById("project-name").innerText = projectname;

      let name = document.getElementById("project-name").innerText;
      let path = "/getCode/" + name;
      fetch(path)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          html.setValue(data.code);
          js.setValue(data.js);
          css.setValue(data.css)
        });

      
    </script>
  </body>
</html>
