<html>
  <head>
    <title>Login or Signup</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><img src="https://cdn.khaleelgibran.com/img/glitchypastepen.png" height="100px"></a>
      <span style="float:right;margin-right:20px;">
        <a href="/#login"><button>
          Login
        </button></a>
        <a href="/signup"><button>
          Signup
        </button></a>
      </span>
    </header>
    <center>
      <br /><br />
      <img src="https://cdn.glitch.com/622554c6-3118-4838-8819-e003b9525f5d%2Fsignup.svg?v=1589387353664" width="25%">
      <h1>
        Signup
      </h1>
      <p>or <a href = "/">login</a></p>
      <input type = "text" placeholder = "Email address" class = "email" required><br />
      <input type = "text" placeholder = "Username" class = "username" required><br />
      <input type = "password" placeholder = "Password" class = "password" required><br />
      <button class = "submit" onclick = "signup();">
        Signup
      </button>
      <br /><br />
      <p>
        
      </p>
    </center>
    <script src = "/signup.js"></script>
  </body>
</html>
