<html>
  <head>
    <title>Login or Signup</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <center>
      <h1>
        Signup
      </h1>
      <p>or <a href = "/login">login</a></p>
      <input type = "text" placeholder = "Email address" class = "email" required><br />
      <input type = "text" placeholder = "Username" class = "username" required><br />
      <input type = "text" placeholder = "Password" class = "password" required><br />
      <button class = "submit">
        Signup
      </button>
    </center>
  </body>
</html>