
<head>
  <title></title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>  
  <header id='user-header'>
    <h1>
      <%= username %>
    </h1>
    
  </header>
<!--   <script src = "/user.js"></script> -->
</body>