@import url("https://rsms.me/inter/inter.css");

body {
  --fore: black;
  --back: white;
  background-color: var(--back);
  color: black;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  margin-top: 30px;
  margin: 0px;
}

.main {
  font-size: calc(100vw / 12.8);
  font-weight: 740;
}

#intro {
  margin-left: 40px;
}

a {
  color: black;
}

#editor {
  height: 100%;
}

header {
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #DCDCDC;
  left: 0px;
}

#project-name {
  margin-left: 20px;
  margin-top: 0px;
  background-color: #1f2430;
  border: none;
  color: white;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  height: 35px;
  font-size: 30px;
  resize: none;
  overflow-y: hidden;
  outline: none;
  display: inline-block;
}

.owner {
  margin-left: 20px;
  margin-top: 0px;
  color: white;
}

.p-title {
  margin-bottom: 0px;
  margin-left: 20px;
  display: block;
  color: white;
}

.username {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-top: 20px;
  color: black;
}

.email {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  margin-top: 20px;
  color: black;
}

.password {
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  color: black;
}

.submit {
  margin-top: 20px;
  background-color: #f5f5f5;
  border: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-radius: 9px;
  cursor: pointer;
}

#success {
  background-color: green;
  width: 75%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 9px;
}

#fail {
  background-color: red;
  width: 75%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 9px;
}

pre {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #1f2430;
}

#deploy {
  border: none;
  background-color: #1f2430;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.signup-link {
  display: block;
}

#status {
  background-color: green;
  float: right;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 20px;
  border-radius: 5px;
  font-family: "Inter", "Helvetica", sans-serif;
  color: white;
  font-weight: bold;
  display: none;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #1f2430;
  color: white;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 20px;
}

.i {
  color: red;
  font-size: 120%;
}

a {
  text-decoration: none;
  margin-top: 0px;
}

.empty {
  margin-top: 0px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #1f2430;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  background-color: red;
  padding: 0.5em 0.6em;
}

i.fas {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  background-color: purple;
  padding: 0.5em 0.6em;
}

i.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
}

#logout {
  float: right;
  display: inline-block;
  background-color: white;
  border: none;
  color: black;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 9px;
}

.desc {
  margin-left: 15%;
  margin-right: 15%;
  font-size: calc(35vw / 12.8);
}

#login {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
