@import url('https://rsms.me/inter/inter.css');

body {
  --fore: white;
  --back: #272822;
  background-color: var(--back);
  color: white;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  margin-top: 30px;
}

#editor {
  height: 100%;
}

#project-name {
  margin-left: 20px;
  margin-top: 0px;
  background-color: var(--back);
  border: none;
  color: white;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  height: 35px;
  font-size: 30px;
  resize: none;
  overflow-y: hidden;
  outline: none;
  display: inline-block;
}

.p-itle {
  margin-bottom: 0px;
  margin-left: 20px;
  display: inline-block;
}

.username {
  background-color: var(--back);
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  margin-top: 20px;
  color: white;
}

.email {
  background-color: var(--back);
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  margin-top: 20px;
  color: white;
}

.password {
  background-color: var(--back);
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  color: white;
}

.submit {
  margin-top: 20px;
  background-color: var(--fore);
  border: none;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-radius: 9px;
  cursor: pointer;
}

#success {
  background-color: green;
  width: 75%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 9px;
}

#fail {
  background-color: red;
  width: 75%;
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 9px;
}

pre {
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--back)
}

#deploy {
  border: none;
  background-color: var(--back);
  display: inline-block;
  float: right;
  cursor: pointer;
}

.signup-link {
  display: block;
}

header {
  margin-bottom: 1px solid black;
}